
<%- include('./homeHeader.ejs') %>
   <div id="loginbox">
        <center><h2> Candidate Login Form</h2>
            <span style="color:red;"><%=message%></span>
        <form action="/candidate/candidateLogin" method="post">
            <input type="email" id="input" placeholder="Enter Email" name="email"> <br>
            <input type="password" id="input" placeholder="Enter password" name="password"> <br>
            <input type="submit" id="inputbtn" value="submit" > <br>
            <input type="reset" id="inputbtn" value="reset"> <br>
        </form> 
        <a id="demolink" href="/candidate/candidateRegistration">Yet Not Registered ? Register Here </a>  
    </center>
    </div>
