<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="header">
         <img src="images/logo.jpg" id="logo" alt="logo">
         <span id="heading"> शिक्षक Recruitment System</span>
    </div>
    <div id="nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Candidate</a></li>
                <li><a href="">Recruiter</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
    </div>
    <div id="banner">
        <img src="images/banner.png" id="banner_img" alt="banner">
    </div>
</body>
</html>