
*{
    margin: 0px;
}

#header{
    height: 60px;
    background-color: white;
    font-family: carndara;
    padding: 10px;
} 
#logo{
    height: 50px;
    width: 50px;
    margin-left: 30px;
   
}
#heading{
    font-size: 30px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}
#nav{
    height: 30px;
    padding: 10px;
    background-color: black;
}
#nav ul{
   list-style: none;
   
}
#nav ul li {
    display: inline;
}
#nav ul li a {
    font-family: candara;
    font-size: 22px;
    text-decoration: none;
    margin-left: 110px;
    color: white;
}
#banner{
    margin: auto;
    height: 545px;
}

#banner_img{
  height: 545px;
  margin-left: 280px;
  width: 60%;
}
#loginbox{
    height: auto ;
    width: 400px;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    font-family: candara;
    font-size: 24px;
}

#input{
    font-size: 16px;
    height: 30px;
    width: 300px;
    margin: 8px;
}
#inputbtn{
    font-size: 18px;
    font-family: candara;
    height: 40px;
    width: 310px;
    margin: 8px;
    border-width: 0px;
    background-color: black;
    color: white;
}
#demolink{
    font-size: 16px;
    color: darkslategray;
    text-decoration: none;
}
#demolink:hover{
    color: red;
}